.challenge {
    position: relative;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
}

.challenge img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.challenge .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 1s ease;
}

.challenge .overlay:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.challenge .title {
    position: absolute;
    width: 60%;
    top: 190px;
    left: 100px;
    color: #fff;
}

.challenge .title h1 {
    font-size: 48px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px black;
}

.challenge .title p {
    font-size: 26px;
    margin-bottom: 100px;
    text-shadow: 2px 2px 2px black;
}

.challenge .title .btn-challenge {
    box-shadow: 0 0 10px white;
    transition: all 1s ease;
}

/*---------- Resp ------------*/

@media (max-width: 990px) {
    .challenge .title h1 {
        font-size: 42px;
    }
}

@media (max-width: 866px) {
    .challenge .title h1 {
        font-size: 36px;
    }
}

@media (max-width: 744px) {
    .challenge .title h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media (max-width: 488px) {
    .challenge .title {
        width: 80%;
        left: 50px;
    }
}