.aside {
    background-color: transparent;
    width: 100px;
    position: sticky;
    top: 390px;
}

.aside ul li {
    padding: 5px;
    text-align: center;
}

.aside ul li a i {
    color: blueviolet;
    font-size: 30px;
    transition: all 1s ease;
}

.aside ul li a i:hover {
    transform: rotateY(360deg);
    color: gray;
}

@media (max-width: 490px) {
    .aside {
        width: 50px;
    }
}