.persons-page {
    padding: 60px 0px;
    position: relative;
}

.persons-page .search-person {
    display: flex;
    margin: 0px 50px;
    padding: 10px;
    position: sticky;
    top: 100px;
    right: 0px;
    background: lightgray;
}

.persons-page .search-person .quote {
    margin-right: auto;
    height: 10vh;
    font-style: italic;
    display: flex;
    gap: 30px;
}

.persons-page .search-person .quote img {
    height: 100%;
    object-fit: cover;
}

.persons-page .search-person .quote div {
    margin-top: 10px;
}

.persons-page .search-person .quote div blockquote {
    font-size: 18px;
    text-shadow: 5px 5px 5px black;
}

.persons-page .search-person form {
    padding: 20px;
}

.persons-page .search-person form input {
    margin-right: 5px;
    border: 5px solid blueviolet;
}

.persons-page .search-person form button:hover {
    cursor: pointer;
    font-size: 18px;
}

#persons {
    padding: 60px 100px 0px 100px;
}

#persons .all-persons-btn {
    padding: 5px 30px;
    margin: 10px;
}

#persons h2 {
    text-align: center;
    font-size: 48px;
}

#persons p {
    text-align: center;
    font-size: 22px;
    margin-bottom: 80px;
}

#persons .cards,
.persons-page #persons .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.persons-page #persons .cards .not-result {
    height: 20vh;
    padding-top: 40px;
}

.persons-page #persons .cards .not-result p {
    font-size: 36px;
    font-style: oblique;
    font-weight: bolder;
}

#persons .cards .card {
    width: 15%;
}

.persons-page #persons .cards .card {
    width: 25%;
}

#persons .cards .card:hover {
    width: 17%;
    border: 2px solid blueviolet;
    padding: 2px;
    cursor: pointer;
    transition: width 2s, transform 2s;
}

.persons-page #persons .cards .card:hover {
    width: 27%;
}

#persons .cards .card div {
    height: 168px;
}

.persons-page #persons .cards .card div {
    height: 30vh;
}

#persons .cards .card div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#persons .cards .card .person-name {
    display: block;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#persons>div:last-of-type {
    text-align: right;
}

#persons>div:last-of-type a {
    color: blueviolet;
}

#persons>div:last-of-type a:hover {
    text-decoration: none;
}

/*---------- Resp ------------*/

@media (max-width: 1270px) {
    #persons .cards .card {
        width: 20%;
    }

    #persons .cards .card:hover {
        width: 22%;
    }

    .persons-page #persons .cards .card {
        width: 30%;
    }

    .persons-page #persons .cards .card:hover {
        width: 32%;
    }
}

@media (max-width: 1070px) {
    #persons .cards .card {
        width: 25%;
    }

    #persons .cards .card:hover {
        width: 27%;
    }

    .persons-page #persons {
        padding: 0px;
    }

    .persons-page #persons .cards .card {
        width: 35%;
    }

    .persons-page #persons .cards .card:hover {
        width: 37%;
    }
}

@media (max-width: 890px) {
    #persons .cards .card {
        width: 40%;
    }

    #persons .cards .card:hover {
        width: 42%;
    }

    .persons-page #persons .cards .card {
        width: 50%;
    }

    .persons-page #persons .cards .card:hover {
        width: 52%;
    }
}

@media (max-width: 706px) {
    .persons-page .search-person {
        justify-content: flex-end;
    }

    .persons-page .search-person .quote {
        display: none;
    }
}

@media (max-width: 610px) {
    .persons-page .search-person {
        top: 200px;
    }

    #persons {
        padding: 0px 50px;
    }

    #persons h2 {
        font-size: 38px;
    }

    #persons p {
        font-size: 18px;
    }

    #persons .cards .card {
        width: 50%;
    }

    #persons .cards .card:hover {
        width: 52%;
    }

    .persons-page #persons .cards .card {
        width: 60%;
    }

    .persons-page #persons .cards .card:hover {
        width: 62%;
    }
}

@media (max-width: 430px) {
    #persons h2 {
        font-size: 30px;
    }
}

@media (max-width: 356px) {
    .persons-page .search-person {
        top: 240px;
    }
}