.subscribe {
    padding: 50px 100px;
    display: flex;

}

.subscribe .img {
    width: 50%;
    margin-right: 30px;
}

.subscribe .input {
    width: 50%;
    padding-top: 50px;
}

.subscribe .input span {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.subscribe .input input {
    width: 70%;
    border: 2px solid black;
    padding: 3px 6px;
}

.subscribe .input button {
    background-color: black;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 1.5s ease;
}

.subscribe .input button:hover {
    background-color: white;
    color: black;
}

/*---------- Resp ------------*/

@media (max-width: 970px) {
    .subscribe .input input {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .subscribe {
        flex-wrap: wrap;
        padding-right: 68px;
    }

    .subscribe .img {
        width: 100%;
        margin-right: 30px;
    }
    
    .subscribe .input {
        width: 100%;
        padding-top: 50px;
    }
}